<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Error</title>
</head>
<body>
<h1>Error</h1>
<p><%= error %></p>
<a href="/">Try again</a>
</body>
</html>