<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Weather Result</title>
</head>
<body>
<h1>Weather in <%= name %></h1>
<p class="temp">Temperature: <%= temp %>°C</p>
<p class="condition">Condition: <%= description %></p>
<a href="/" class="backLink">Check another city</a>
</body>
</html>


